.profilePortion {
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  overflow: auto !important;
  height: 100vh;
}
.profilePortion::-webkit-scrollbar {
  display: none;
}
.appBarProfile {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #fff !important;
  color: #000 !important;
  margin-top: 0% !important;
}
.appBarUsername {
  font-weight: 700 !important;
}
.outerBoxProfile {
  /* padding: 0% !important; */
  padding: 24px;
}
.interDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerInterDetails {
  display: flex;
  align-items: center;
}
.profilePhoto {
  height: 130px !important;
  width: 130px !important;
  border: 2px solid #f1efef;
}
.followersDetail {
  margin-left: 40px !important;
}
.followingDetail {
  margin-left: 40px !important;
}
.btnboth{
  text-transform: none !important;
  font-size: large !important;
  width: 120px;
  height: 38px;
}
.editBtn{
  width: 170px ;
  height: 38px;
}
.btnParent{
  margin-top: 3%;
}
@media (max-width: 600px) {
  .profilePhoto {
    height: 60px !important;
    width: 60px !important;
    border: 2px solid #f1efef;
  }
  .followersDetail {
    margin-left: 10px !important;
  }
  .followingDetail {
    margin-left: 10px !important;
  }
  .interDetails{
    padding-left: 2px !important;
  }
  .btnboth{
    width: 200px !important;
    height: 24px !important;
    font-size: 15px !important;
    text-transform: none !important;
  }
}
.unfollowBtn{
  background-color: #EEF0E5 !important;
  color: black !important;
  box-shadow: none !important;
}
.unfollowBtn:hover,.followbtn:hover{
  box-shadow: none !important;
}
.followbtn{
  box-shadow: none !important;
}


