/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    width: 300px !important;
} */
.infotext{
    font-weight:700 !important;
    font-size:28px !important;
    margin-bottom: 8% !important;
    font-family:sans-serif; 
}
.googlebtn{
    margin: 10px !important;
    width: 300px !important;
}
